<!DOCTYPE html>
<html>
    <head>
        <title>HeyTam - News</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="script.js"></script>
        <link href="news.css" rel="stylesheet" type="text/css">
        <link href="header.css" rel="stylesheet" type="text/css">
    </head>
    <body>  
    <header>
            <div class="logo">
                <div class="logo_inner">
                    <a href=""><img src="logo.png"></a>
                </div>
            </div>
            <nav>
                <ul>
                    <li><a href="" class="nav_button">News</a></li>
                    <li><a href="" class="nav_button">Programs</a></li>
                    <li><a href="" class="nav_button">About us</a></li>
                    <li><a href="" class="nav_button">Exit</a></li>
                </ul>
            </nav>
        </header>
        <div class="main">
            <div class="news">
                <h1 align='center'>Coming soon</h1>
        </div>
    </body>
</html>