{% extends 'main/base.html' %}

{% load static %}

{% block includes %}
{% endblock %}

{% block body %}
    <div class="container" id="about-container">
        <div class="row justify-content-center"><h1>HeyTam</h1></div>
        <blockquote class="blockquote text-center">
            <p class="mb-0">HeyTam creates software.<br>Created in winter 2017, but already has 0 customers</p>
            <footer class="blockquote-footer">It's not even registered <cite title="Source Title">:(</cite></footer>
          </blockquote>
    </div>
{% endblock %}