{% load static %}

<script src="{% static 'loadProducts.js' %}"></script>
<div class="container" id="catalog">
    <h1 class="text-center display-5"><i>Products</i></h1>
    <div class="card-group">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image.url }}" class="card-image-top" alt="{{ product.titile }} image">
                  <div class="card-body">
                      <h5 class="card-title">{{ product.title }}</h5>
                      <p class="card-text">{{ product.short_description }}</p>
                      <a href="" class="btn btn-secondary product-link" data-name="{{ product.title }}" data-id="{{ product.id }}">More</a>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>
