{% load static %}

<div class="container" id="product-content">
    <div class="row">
        <div class="col-4">
            <img src="{{ product.image.url }}">
        </div>
        <div class="col-4">
            <div class="row">
                <h1 id="product-title">{{ product.title }}</h1>
            </div>
            <div class="row">
                <p id="short-description">{{ product.description }}</p>
            </div>
            <div class="row">
                {% if product.github_link %}
                <a href="{{ product.github_link }}"><img src="{% static 'main/CircleBlackWhite/Github_2.svg' %}" id="github-link"></a>
                {% endif %}
                {% if product.is_kindergarten %}    {# it's kinda silly #}
                <a href="{% url 'kinder_index' %}">Check it</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
