body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#header {
    width: 100%; height: 35px;
    background-color: lightcyan;
    padding: 5px;
}

#logo {
    float: left;
    font-weight: bold;
    font-size: 120%;
    padding: 3px 5px;
}

#buttonContainer {
    width: 270px;
    margin: 0 auto;
}

.toggleButton {
    float: left;
    border: 1px solid grey;
    padding: 4px;
    border-right: none;
    font-size: 1.1em;
}

#html {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#result {
    border-right: 1px solid gray;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.active {
    background-color: pink;
}

.highlightedButton {
    background-color: palevioletred;
}

textarea {
    width: 50%;
    resize: none;
    border-top: none;
    border-color: palevioletred;
    background-color: #FFF7F8;
}

.panel {
    float: left;
    width: 50%;
    border-left: none;
}

iframe {
    border:none;
}

.hidden {
    display: none;
}